#mensaje{
	margin: auto;
    font-size: -webkit-xxx-large;
    font-weight: bold;
    width: 60%;
    background-color: rgba(14, 14, 14, 0.4);
    color: white;
    padding: 61px;
    border-radius: 24px;
}
#fondo{
	margin: 0px auto 0px auto;
    padding: 160px 0px;
    width: 80%;
    background-image: url(../img/relog.gif);
    background-repeat: no-repeat;
    background-position: center;
}

#logo{
	position: absolute;
    top: 0px;
    left: 60px;
    background-color: rgba(15, 15, 15, 0.1);
    width: 200px;
}

@media (max-width: 650px) {
 #mensaje{
    margin: auto;
    font-size: xx-large;
    font-weight: bold;
    width: 60%;
    background-color: rgba(14, 14, 14, 0.4);
    color: white;
    padding: 61px;
    border-radius: 24px;
}
#fondo{
    margin: 0px auto 0px auto;
    padding: 160px 0px;
    width: 100%;
    background-image: url(../img/relog.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
}
}