body, html{
    height: 100%;
}

.bg-img{
    background: url(../img/bg.jpg);
    height: 100%
}

.bg{
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#saludo{
    width: 70%;
    margin: auto;
}

#saludo > :first-child{
    font-size: 9vw;
    margin-bottom: -20px;
}

#saludo span{
    color: rgba(215, 58, 49,1);
}
#saludo > :last-child {
    font-size: 4vw;
}

#about{
    background-color: rgba(232, 227, 224,0.3);    
    padding: 15px 0px 15px 0px;
}

#nombre{
    background-color: rgba(86,177,191, 1);
    height: 95px;
    padding: 44px 0px 0px 14px;
    margin: -20px -20px 15px -20px;
    font-size: x-large;
    font-weight: bold;

}

#perfil ul{
    margin: 0px 0px 0px -20px;
}

#about center {
    margin-bottom: -10px;
    font-size: 26px;
    font-weight: bold;
}

.grupo{
    margin-bottom: 15px;
}
.grupo p{
    margin-bottom: 0px;
}

h5{
    font-weight: bold;
}
#experiencia{
    margin-bottom: 15px;
}
.progress-bar{
        background-color: rgba(8,112 ,138, 0.9)
}
@media (max-width: 575px) {
    #experiencia{
        margin-top: 15px;
    }
}    
@media (max-width: 800px) {

    #saludo > :first-child{
        font-size: 13vw;
        margin-bottom: -10px;
    }

    #saludo > :last-child{
        font-size: 5vw;
    }
}






