body, html{
    height: 100%;
}

.bg-img{
    background: url(../img/bg.jpg);
    height: 100%
}

.bg{
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#saludo{
    width: 70%;
    margin: auto;
}

#saludo > :first-child{
    font-size: 10vw;
    margin-bottom: -20px;
}

#saludo span{
    color: green;
}
#saludo > :last-child{
    font-size: 4vw;
}

@media (max-width: 800px) {

#saludo > :first-child{
    font-size: 13vw;
    margin-bottom: -10px;
}

#saludo span{
    color: green;
}
#saludo > :last-child{
    font-size: 5vw;
}
}






