#mensaje{
	margin: auto; 
	font-size: -webkit-xxx-large;
    font-weight: bold;
    width: 80%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 61px;
    border-radius: 24px;
}
.white{
    background: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;	
}	
	