
.tarjeta img{
    width: 100%;
}
.tarjeta{
    background-color: #EFEEEAM;
    border: 1px solid #E5E5E5;
    padding: 0px;
    margin-bottom: 20px;
}

.modal-header{
	border-bottom: none;
}

.break-word{
	word-wrap: break-word;
}
.modal-body h2{
	margin-top: -20px;
}